<!-- Deze broncode is openbaar gemaakt vanwege een Woo-verzoek zodat deze  -->
<!-- gericht is op transparantie en niet op hergebruik. Hergebruik van  -->
<!-- de broncode is toegestaan onder de EUPL licentie, met uitzondering  -->
<!-- van broncode waarvoor een andere licentie is aangegeven. -->
<!-- -->
<!-- Het archief waar dit bestand deel van uitmaakt is te vinden op: -->
<!--   https://github.com/MinBZK/woo-besluit-broncode-digid-app -->
<!-- -->
<!-- Eventuele kwetsbaarheden kunnen worden gemeld bij het NCSC via: -->
<!--   https://www.ncsc.nl/contact/kwetsbaarheid-melden -->
<!-- onder vermelding van "Logius, openbaar gemaakte broncode DigiD-App"  -->
<!-- -->
<!-- Voor overige vragen over dit Woo-besluit kunt u mailen met open@logius.nl -->
<!-- -->
<!-- This code has been disclosed in response to a request under the Dutch -->
<!-- Open Government Act ("Wet open Overheid"). This implies that publication  -->
<!-- is primarily driven by the need for transparence, not re-use. -->
<!-- Re-use is permitted under the EUPL-license, with the exception  -->
<!-- of source files that contain a different license. -->
<!-- -->
<!-- The archive that this file originates from can be found at: -->
<!--   https://github.com/MinBZK/woo-besluit-broncode-digid-app -->
<!-- -->
<!-- Security vulnerabilities may be responsibly disclosed via the Dutch NCSC: -->
<!--   https://www.ncsc.nl/contact/kwetsbaarheid-melden -->
<!-- using the reference "Logius, publicly disclosed source code DigiD-App"  -->
<!-- -->
<!-- Other questions regarding this Open Goverment Act decision may be -->
<!-- directed via email to open@logius.nl -->
<!-- -->
﻿<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="SSSSSSSSSSSSSSSSSSSSSSSSSS" android:versionName="6.5.0" android:versionCode="1">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="31" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<uses-permission android:name="android.permission.NFC" />
	<application android:allowBackup="false" android:label="DigiD" android:icon="@mipmap/ic_launcher_dev" android:extractNativeLibs="true">
		<meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/notification_channel_id" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/icon_android_statusbar_notification" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/orange" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false" />
		<receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:exported="true" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="${applicationId}" />
			</intent-filter>
		</receiver>
	</application>
	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="http" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="https" />
		</intent>
	</queries>
</manifest>
